/* Colors */

$white: rgb(250, 250, 248);
$dark: rgba(30, 20, 20, .5);
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);

/* Fonts */

@font-face {
  font-family: 'Gabarito';
  font-weight: 400;
  src: url('assets/fonts/Gabarito-Regular.ttf');
}

@font-face {
  font-family: 'Gabarito';
  font-weight: 600;
  src: url('assets/fonts/Gabarito-Bold.ttf');
}

@font-face {
  font-family: 'Gabarito';
  font-weight: 800;
  src: url('assets/fonts/Gabarito-Black.ttf');
}

html, body, #root {
  position: absolute;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  background: $black;
  font-family: 'Gabarito';
  font-size: 16px;
  inset:0;
  line-height: 1.75rem;
}
.app {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  inset: 0;

  .background {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .main {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    inset: 0;
  }

  .logo {
    max-width: 10rem;
  }

  .reason {
    display: block;

    p {
      margin-bottom: 0;
      color: white;
    }
  }

  .carousel {
    position: relative;
    overflow: hidden;
    width: 25rem;
    height: 3rem;
    margin-bottom: .5rem;
    color: $white;
    
    &-messages {
      position: absolute;
      top: 0;
      width: 100%;
      transition: top 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);

      &-message {
        width: 100%;
        padding: 0;
        margin: 0;
        line-height: 3rem;
        text-align: center;
      }
    }
  }

  p {
    text-align: center;
  }

  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(100% - 8rem);
    max-width: 30rem;
    max-height: calc(100% - 8rem);
    padding: 1.5rem;
    background: rgba(240, 240, 240, .8);
    border-radius: 2rem;
    box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .25);
    mix-blend-mode: hard-light;
    overflow-x: hidden;
    transform: translate(-50%, -50%);

    h4 {
      margin: 1rem;
      font-size: 2rem;
      font-weight: 300;
      text-align: center;
    }
  }

  button {
    padding: 1rem 1.5rem;
    border: 2px solid $white;
    margin: 0 .5rem;
    background: none;
    border-radius: 2rem;
    color: $white;
    cursor: pointer;
    font-family: 'Gabarito';

    &.primary {
      background: $white;
      color: $black;
    }

    &.close {
      position: absolute;
      top: 0;
      right: 0;
      width: 2rem;
      height: 2rem;
      padding: 0;
      border: none;
      margin: 1rem;
      background: white;
      border-radius: 1rem;
      color: black;
      line-height: 0;
      text-align: center;
    }
  }

  input {
    padding: .25rem;
    font-family: 'Gabarito';
  }

  .hidden {
    opacity: 0;
    visibility: hidden;
  }
}