.info {
  position: absolute;
  backdrop-filter: blur(.5rem);
  background:rgba(0, 0, 0, .25);
  inset: 0;
  transition: visibility .5s, opacity .5s;

  &-main {
    position: absolute;
    top: 50%;
    left: 50%;
    background: white;
    transform: translate(-50%, -50%);
  }

}