.form {
  position: absolute;
  backdrop-filter: blur(.5rem);
  background:rgba(0, 0, 0, .25);
  inset: 0;
  transition: visibility .5s, opacity .5s;

  &-body {
    h4 {
      margin: 1rem 0;
      font-size: 1.5rem;
      font-weight: 400;
    }

    &-type {
      display: flex;
      flex-wrap: wrap;
    }

    label {
      display: flex;
      flex-direction: row;
      font-size: .75rem;
      img {
        width: 6rem;
      }
    }
    input, textarea {
      display: block;
      // width: 20rem;
      padding: .5rem;
      margin-bottom: .5rem;
      font-family: 'Gabarito';
    }

    input[type="radio"] {
      display: inline;
      width: 2rem;
    }
  }
}